.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-bar input {
    font-family: "Josefin Sans", sans-serif;
    width: 400px; 
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    background-color: #ffffff; 
    color: #333; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .search-bar input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  .search-bar button {
    display: none; 
  }