.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .search-bar input {
    font-family: "Josefin Sans", sans-serif;
    flex: 1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    outline: none;
  }
  
  .search-bar .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: magenta;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
  
  .search-bar .search-icon:hover {
    background-color: darkmagenta;
  }